/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/*Set background image*/
.container {
    background-image: url('https://images.pexels.com/photos/4448859/pexels-photo-4448859.jpeg?cs=srgb&dl=pexels-vlada-karpovich-4448859.jpg&fm=jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Header 1*/
h1 {
    position: center;
    color: black;
    font-weight: bolder;
    font-size: 40px;
}

/* Header 2*/
h2 {
    position: center;
    color: black;
    font-weight: bold;
    font-size: 35px;
}

/* Paragraph*/
p {
    position: center;
    color: black;
    font-size: 20px;
}

/* Position text in the middle */
.middle {
  position: center;
  color: blue;
  top: 70%;
  left: 39%;
  text-align: center;
  font-size: 25px;
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: center !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: blue;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: purple;
  text-decoration: none;
}
